#heroDiv {
  width: 100%;
  height: 300px;
  color: #000;
  background: #ccc url("pokemonBackground.jpg");
  background-size: 100% 100%;
  padding: 100px 0;
  margin-bottom: 50px;
}
#textDiv {
  background: rgba(51, 235, 161, 0.6);
  padding: 10px 0;
  font-family: "Libre Baskerville", serif;
  font-size: 2em;
}
#textDiv h1 {
  font-family: "Lobster", cursive;
}
#textDiv h2 {
  font-family: "Bitter", serif;
}

@media only screen and (max-width:420px){

  #heroDiv{
    height: 350px;
    padding:130px 0;
  }
  #textDiv h1{
      font-size: 1.3em;
  }
  #textDiv h2{
    font-size: 0.9em;
  }
}

@media only screen and (max-width:330px){
  #textDiv h2{
    font-size: 0.7em;
  }
  #textDiv h1{
    font-size: 1.1em;
}
}