*{
    margin:0;
    padding:0;
}
#header{
    height: 80px;
    padding:20px 0;
    background:rgba(4, 185, 235, 0.5);
    position: relative;
    /* margin-bottom: 20px; */
}
#header h1{
    padding-left: 40px;
    font-family: 'Lobster', cursive;
}
#header h2{
    font-family: 'Bitter', serif;
}
#scoreDiv{
    padding:20px 0;
}

